@using IntTrader.API;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<IntTrader.Web.Model.DashboardModel>

<div class="col-sm-8 col-sm-offset-3 col-md-11 col-md-offset-1 main">
    <h3 class="page-header">Dashboard</h3>
    <div class="row placeholders">

        @foreach (var exchange in Model.Items)
        {
            @Html.Partial("dashboard/exchange", exchange)
        }

    </div>
</div>
