@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<IntTrader.Web.Model.ExchangeModel>

<div class="col-xs-6 col-sm-3 placeholder">
    <h4>@Model.Name</h4>
    <div class="text-muted" id="ticker-@Model.Name">0</div>
    <table class="trades" id="trades-@Model.Name"></table>
</div>

<script type="text/javascript">
    
    $(document).ready(function () {
        var exchange = new Exchange("@Model.Name", "@Model.Pair");
    });

</script>
