@using IntTrader.API.Currency;
@using IntTrader.Web
@using IntTrader.WebService.Base
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<IntTrader.Web.Model.ExchangeModel>
<div class="col-xs-4 col-sm-2 placeholder" ng-controller="ExchangeController" data-exchange="@Model.Id" data-pair="@Model.Pair.Key">
    
    <h3 class="blue">@Model.Name</h3>
    <div class="modal-title" id="ticker-@Model.Id" ng-model="ticker">{{ticker.lastPrice}}</div>
    
      <!-- Default panel contents -->
      <div class="panel-heading">Balance</div>
      <!-- Table -->
    <table class="table" ng-model="balances">
        <tr ng-repeat="b in balances">
            <td>{{ b.Currency.Name }}</td>
            <td>({{ b.Currency.Symbol }})</td>
            <td>{{ b.Available }}</td>
        </tr>
    </table>

    <form class="form-inline" role="form" method="POST">
        <div class="form-group">
            <input type="number" step="0.00001" class="form-control" id="amount-@Model.Id" name="Amount" placeholder="amount" value="0">
        </div>
        <div class="form-group">
            <input type="number" step="0.00001" class="form-control" id="price-@Model.Id" name="Price" placeholder="price" ng-model="ticker" ng-bind="models.ticker.lastPrice">
        </div>
        <button type="submit" class="btn btn-default">Buy</button>
        <button type="submit" class="btn btn-default">Sell</button>
    </form>
</div>
