
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: black;
  color: #E6E6E6;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #222222;
}

.blue {
    color: #44BBFF;
}

.form-group {
    margin: 4px;
}

.btn-default {
    margin: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}
