<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="~/content/bootstrap.min.css" rel="stylesheet">
    <link href="~/content/dashboard.css" rel="stylesheet">
    <link href="~/content/style.css" rel="stylesheet">

    <script src="~/scripts/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="~/scripts/jquery.signalR-2.2.0.js" type="text/javascript"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    <script src="~/scripts/Market.js" type="text/javascript"></script>
    <script src="~/scripts/bootstrap.min.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>IntTrader.Web</title>
    <style type="text/css">
        body
        {
            text-align: center;
            font-family: verdana;
        }
    </style>

</head>
<body>

    <div id="header">
        @Html.Partial("header")
    </div>

    <div id="body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="#">Dashboard <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Markets</a></li>
                        <li><a href="#">Charts</a></li>
                        <li><a href="#">Advanced</a></li>
                    </ul>
                </div>

                @RenderBody()
            </div>
        </div>
    </div>

    <div id="footer">
        @Html.Partial("footer")
    </div>

</body>
</html>
